* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	padding-left:  5px;
	padding-right:  5px;
}

@font-face {
	font-family: Trade Gothic;
	src: url(fonts/tradegoc.ttf);
}

body {
	font-family: Trade Gothic;
}

.container {
	padding-top: 7vmin;
}

.container h3 {
	font-size: 7vh;
}

.mac-logo,
.brand-logo {
	height: 100%;
}

.quiz,
#result {
	padding: 5vh 0 5vh 0 !important;
}

.answer	{
	margin: 15px 0px;
	padding: 15px 5px;
	border-radius: 20px; 
	cursor: pointer;
	font-size: 4vh;
}

#question {
	font-size: 6vh;
}

.opener {
	font-size: 5vh;
}

.answerbox {
	padding-top: 30px;
}

.mac-girls {
	width: 100%;
}

.mac-girls img {
	width: 100%;
}

#prodImg {
	width: 100%;
	margin-top: 1.9rem;
}

.social	{
	margin-top: 20px;
	width: 100%;
}


.product {
	margin: 20px auto;
}

#prodName {
	font-size: 6vh;
}

#prodDesc,
.follow-ig,
.send-email-text {
	font-size: 4vh;
}

.send-email-text {
	margin-top: 5vh;
}

form {
	margin-bottom: 5vh;
	border: 1px solid lightgrey;
}


@media only screen and (min-width: 1025px) {
	.answer:hover {
		background-color: #ee6e73;
		color: white;
	}
}

footer {
	margin-top: 20vh;
}

.footer-container,
.footer-copyright,
.page-footer {
	padding: 0 !important;
}